
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --main: #01cdb5;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --light-gray: #f4f4f4;
    --medium-gray: #ddd;
    --dark-gray: #333;
    --disabled-bg: #eee;
    --error-color: #d9534f;
    --font-family-sans-serif: Montserrat, Roboto, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    --font-family-monospace: "Courier New", Courier, monospace;
}

html {
    font-size: 62.5%;
    line-height: 1.6;
    font-family: Montserrat !important;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: var(--gray-dark);
    overflow-x: hidden;
    font-size: 1.8rem;
}

/* Navbar */
.navbar {
    background-color: var(--main);
    height: 6rem;
    font-size: 1.8rem;
    padding: 0 5rem !important;
}

.navbar-nav {
    color: #fff !important;
}

.navbar-brand {
    font-size: 2rem;
}

.nav-item {
    color: #fff;
    padding-left: 1rem;
    padding-right: 1rem;
}

    .nav-item:hover,
    .nav-item:focus,
    .nav-item:active {
        background-color: #01a895 !important;
    }

.nav-link {
    color: #fff;
    line-height: 5rem;
}

/* Main */
.main-section {
    background-color: #f2f7f7;
    height: fit-content;
    min-height: 100vh;
}

.main-section .sidebar {
    background: #fff;
    transition: all 0.3s;
    height: fit-content;
    min-height: 100vh;
}

.sidebar .nav-item {
    color: #000;
        padding: unset;
    }

 .sidebar .nav-item:first-child {
            margin-top: 4rem;
        }

.main-section .nav-link {
    color: #343a40 !important;
    padding: 0 3rem;
    background-color: #fff;
}

    .main-section .nav-link:hover,
    .main-section .nav-link:focus {
        color: #fff;
        background-color: #e1f3f1;
    }
