.content-section {
    margin: 0 !important;
}
    .content-section .fw-bold {
        color: var(--main) !important;
        text-align: justify;
    }
    .article-content {
        padding-top: 2.5rem;
        border-radius: 5px;
        text-align: justify;
    }

.article-content h1 {
  font-size: 3rem;
  font-weight: 600;
  color: var(--gray-dark);
  line-height: 1.4;
  margin-bottom: 1.5rem;
}

.article-meta {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    font-size: 1.4rem;
    color: var(--gray);
    padding-bottom: 2rem;
    border-bottom: 1px solid #acacac;
}

.author {
    color: var(--main);
    margin-left: 0.5rem !important;
}

.folder{
    color: var(--main);
}

.article-meta span {
    display: inline-flex;
    align-items: center;
    margin-left: 2rem;
}

.article-meta strong {
  color: var(--main);
  margin-left: 0.5rem;
}

.article-meta i {
  margin-right: 0.5rem;
}

.article-body {
  font-size: 1.6rem;
  color: #000;
}
.article-body p {
  margin-bottom: 1rem !important;
}

.article-body .lv1 {
  margin-left: 3rem;
}

.article-body .lv2 {
  margin-left: 6rem;
}

.article-body h4,
.article-body h5 {
  font-weight: 700;
  color: #000;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.article-body h4 {
  font-size: 1.6rem;
}
.article-body h5 {
  font-size: 1.6rem;
}

.article-body ul {
  list-style-type: square;
  padding-left: 3rem;
  margin-bottom: 2rem;
}
.article-body ul li {
  position: relative;
}

.article-body .warning {
  color: red;
  font-weight: 500;
}
.article-body img {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.article-body .slogan {
  font-style: italic;
  font-weight: 500;
  color: var(--main);
  padding: 1rem 1.5rem;
  margin: 1.5rem 0;
}

.article-author {
  margin-top: 4rem;
  padding-top: 2rem;
  border-top: 1px solid #eee;
  font-size: 1.6rem;
  line-height: 1.7;
  color: var(--gray-dark);
}

.btn-outline-primary{
    color: var(--main) !important;
    border: 1px solid var(--main) !important;
    background-color: transparent !important;
    font-size: 1.4rem;
}

.btn-outline-primary:hover {
    color: #fff !important;
    border-color: #fff !important;
    background-color: var(--main) !important;
}
