.lv1 {
    margin-left: 5rem;
}

.hospital-reply {
    background-color: #f4f4f4 !important;
    padding: 3rem !important;
}

.user-avatar {
    text-transform: uppercase;
    font-weight: bold;
}

.form-box h2 {
    background-color: #f1f1f1;
    padding: 2rem;
    font-size: 1.8rem;
    text-align: center;
}

.card-body input,
.card-body textarea {
    padding: 1rem 2rem !important;
    font-size: 1.5rem !important;
    box-shadow: none !important;
}

    .card-body input:focus,
    .card-body textarea:focus {
        border-color: var(--main);
    }

.card-body .btn {
    padding: 0.5rem 2rem !important;
    font-size: 1.4rem;
    border-radius: 0.4rem;
    color: #fff;
    background-color: var(--main) !important;
    border: 1px solid transparent !important;
}

    .card-body .btn:hover {
        color: var(--main) !important;
        background-color: transparent !important;
        border-color: var(--main) !important;
    }

.small{
    font-size: 1rem !important;
}

.card-header {
    padding: unset;
    border-bottom: unset;
}

#successToast {
    background-color: var(--main) !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    border: 1px solid #d3d6d6;
    min-width: 400px;
    animation: slideInRight 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.toast-body {
    color: #fff;
    font-size: 1.4rem;
    padding: 16px;
}

.btn-close-white {
    opacity: 0.8;
}

    .btn-close-white:hover {
        opacity: 1;
    }

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}