.content-section h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--gray-dark);
  transition: color 0.3s ease;
  margin-bottom: unset;
  margin-bottom: 2rem;
}

.content-section h2:hover {
  color: var(--main);
}

.tag-lable {
  display: flex;
  gap: 1.5rem;
  align-items: baseline;
}

.tag-lable .badge-main {
  padding: 0.2rem 0.7rem;
  background-color: var(--main);
  color: var(--white);
  border-radius: 0.4rem;
  font-size: 1.4rem;
  font-weight: 600;
}

/* Card tin tuc */

#news-list h2 {
  font-size: 2.2rem;
  margin-bottom: 3rem;
}

.news-card {
  background-color: #f3f3f3 !important;
  border-radius: 5px;
  height: 100%;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  border: none !important;
}

.news-card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.news-card-img-wrapper {
  width: 100%;
  height: 20rem;
  overflow: hidden;
}

.news-card-img-wrapper img {
  display: block;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  border: none !important;
  border-radius: none !important;
}

.news-card .card-body {
  padding: 1.5rem;
}

.news-card .card-title {
  font-size: 1.7rem;
  font-weight: 700;
  color: var(--gray-dark);
  transition: color 0.3s ease;
  line-height: 2.6rem;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  min-height: 8rem;
}

.news-card-link:hover .card-title {
  color: var(--main);
}

.news-card .card-content {
  margin-top: 2rem;
  color: var(--gray-dark);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/*======================== Cột phải ============================*/

.news-page-container .widget {
  background-color: transparent !important;
  padding: 0 !important;
  margin-top: 3rem;
}

.news-sidebar-widget-group h3 {
  font-size: 2.3rem;
  background-color: #e9e9e9;
  padding: 2rem 3rem;
}

.news-page-container .list-group-flush {
  padding: 2rem;
}

.news-page-container .list-group-item {
  padding-bottom: 2rem !important;
}

.news-sidebar-widget-group li::before {
  content: "" !important;
}
.news-sidebar-widget-group a {
  font-weight: 600;
}

.sidebar .news-sidebar-widget-group .tag-lable {
  transform: scale(0.9);
  margin-left: -2rem;
  margin-top: 1rem;
}

/*====================== Phân Trang (Pagination) ====================*/
.pagination .page-item .page-link {
  color: var(--main);
  border-radius: 0.25rem;
  margin: 0 0.25rem;
  border: 1px solid #dee2e6;
  font-size: 1.5rem;
  padding: 0.8rem 1.3rem;
}
.pagination .page-item .page-link:hover {
  background-color: #f0f3f5;
}
.pagination .page-item.active .page-link {
  background-color: var(--main);
  border-color: var(--main);
  color: var(--white);
}
.pagination .page-item.disabled .page-link {
  color: #aaa;
}
