.hours-section .row {
  box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.2);
  padding: 3rem;
}

.hours-column {
  padding: 3rem;
}

.hours-column:nth-child(1) {
  border-right: 0.2rem dotted var(--main);
}

.hours-column h3 {
  font-size: 2.2rem;
  font-weight: 700;
  text-decoration: underline;
  text-align: center;
  color: var(--main);
  margin-bottom: 2rem;
}

.hours-column .title {
  color: var(--main);
  font-size: 1.8rem;
  font-weight: 500;
}

.hours-column .content {
  margin-left: 3rem;
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

.hours-column .content strong {
  display: inline-block;
  min-width: 6rem;
  margin-left: 3rem;
}

.process-section {
  margin-top: 40px;
}

.process-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 25px;
}

.process-buttons button {
  padding: 1.2rem 2.2rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
  background-color: var(--main);
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.process-buttons button:hover {
  color: var(--main);
  border: 1px solid var(--main);
  background-color: var(--white);
}

.process-buttons button.active {
  background-color: #00695c;
  box-shadow: 0 0 10px rgba(0, 105, 92, 0.4);
}

.process-content img {
  width: 100%;
  height: auto;
  display: block;
  border: 1px solid #eee;
  border-radius: 5px;
}

.caicach-section .img {
  text-align: center;
}

.caicach-section img {
  width: 100%;
  display: block;
  border-radius: 5px;
}
