/* Main */
.profile-card {
    background: #fff;
    border-radius: 1rem;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.05); */
    font-size: 1.5rem !important;
    border: 1px solid #e5e5e5;
    margin-bottom: 20px;
    overflow: hidden;
}

.profile-header {
    background: linear-gradient(135deg, #00eeff, #00a4af);
    height: 10rem;
}

.avatar-container {
    margin-top: -60px;
    text-align: center;
    position: relative;
}

.avatar-img {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    border: 4px solid #fff;
    object-fit: cover;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.btn-edit-avatar {
    position: absolute;
    bottom: 0;
    right: 35%;
    background: #fff;
    border-radius: 50%;
    padding: 0.5rem 1rem;
    border: 1px solid #dee2e6;
    cursor: pointer;
}

#displayName {
    font-size: 1.8rem;
    font-weight: 600 !important;
}

.displayID span {
    color: var(--main);
}

/* Status Badge */
.status-badge {
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: 600;
}

.status-active {
    background-color: #d1e7dd;
    color: #0f5132;
}

.status-expired {
    background-color: #f8d7da;
    color: #842029;
}

.qr-code-box {
    text-align: center;
    padding: 15px;
    border-top: 1px solid #eee;
}

/* Cot giua */
.main-section {
    font-size: 1.4rem !important;
}

.section-title {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--gray-dark) !important;
    border-left: 4px solid var(--primary-color);
}

.form-label {
    font-weight: 500;
    font-size: 1.4rem !important;
    color: #555;
}

    .form-label .form-control {
        font-size: 1.4rem !important;
    }

.form-control[readonly],
.form-control[disabled] {
    background-color: #e9ecef;
    opacity: 1;
    font-size: 1.4rem;
}

/* Addrest card */
.form-select,
.form-control {
    font-size: 1.4rem !important;
}

/* Contact card */

.contact-card label {
    margin-bottom: 1.5rem;
    margin-top: 2rem;
}

.contact-card .btn-outline-primary {
    margin-top: 1.5rem;
    font-size: 1.4rem;
    color: var(--main) !important;
    border: 1px solid var(--main) !important;
    &:hover

{
    color: #fff !important;
    border: 1px solid transparent;
    background-color: var(--main);
}

}

/* Nút Save */
.save-card button {
    padding: 1.5rem 0;
    background-color: var(--main);
    border: 1px solid transparent;
}

    .save-card button:hover,
    .save-card button:focus,
    .save-card button:active,
    .save-card button:visited {
        background-color: transparent;
        border-color: var(--main);
        color: var(--main) !important;
    }

.save-card i {
    margin-right: 1rem !important;
    font-size: 1.5rem;
}

/* Cot phai */
.alert-info {
    background-color: #f1ffff;
}

.widget-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #f0f0f0;
    text-decoration: none;
}

    .widget-item:last-child {
        border-bottom: none;
    }

    .widget-item:hover {
        background-color: #e9f4ff;
        text-decoration: none;
        color: inherit;
    }

.widget-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.5rem;
    font-size: 1.2rem;
}

/* Support */
.support-card .btn-outline-success {
    font-size: 1.4rem;
}

/* Copyright */
.portal-copyright {
    text-align: center;
    padding: 1rem 0;
    font-size: 1.2rem;
    color: var(--gray);
    background-color: #e9e9e9 !important;
    border-top: 1px solid #ddd;
}

/* Dấu x */
.input-wrapper {
    position: relative;
}

.btn-delete-inside {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #dc3545;
    background: none;
    border: none;
    padding: 0;
    font-size: 0.9rem;
    z-index: 10;
    display: flex;
}

    .btn-delete-inside:hover {
        color: #bb2d3b;
    }

.input-with-x {
    padding-right: 30px !important;
}
