.page-container-auth {
    width: 100vw;
    height: calc(100vh - 45px);
    background-image: url(/asset/Background_02.png);
}

.auth-container {
  background-color: white;
  border: 1px solid #eee;
  color: var(--white);
  border-radius: 8px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.07);
  margin: 2rem auto;
}

.auth-form {
  padding: 3rem 4rem;
}
.logo_login {
  margin-bottom: 3rem;
}
.auth-form .form-label {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--gray-dark);
  margin-bottom: 1rem;
}

.auth-form .form-control {
  font-size: 1.6rem;
  padding: 0.5rem 1.2rem;
  margin-bottom: 2rem;
}

.auth-form .form-control:focus {
  border-color: var(--main) !important;
  box-shadow: none !important;
}

.auth-form .form-check-label {
  font-size: 1.5rem;
  color: var(--gray-dark);
}
.auth-form .form-check-input:checked {
  background-color: var(--main);
  border-color: var(--main);
}

.auth-button {
  width: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem;
  background-color: var(--main);
  border-color: var(--main);
  transition: all 0.3s ease;
}

.auth-button:hover {
  background-color: transparent;
  border-color: var(--main);
  color: var(--main);
}

.auth-links {
  margin-top: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

.auth-links a {
  text-decoration: none;
  color: var(--gray-dark);
}

.auth-links a:hover {
  text-decoration: underline;
}

.password-field-container {
  position: relative;
}

.password-field-container .form-control {
  padding-right: 40px;
}

/* Eyes */
.toggle-password {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 1.2rem !important;
  color: var(--main);
  cursor: pointer;
  z-index: 10;
  border: none;
  background: transparent;
  padding: 0;
}

.invalid-feedback {
  font-size: 1.2rem;
  color: #dc3545;
  margin-top: -1.5rem;
  margin-left: 2rem;
}

.invalid-feedback::before {
  content: "(*) ";
}

/* Tắt viền đỏ/xanh và icon X/check của Bootstrap */
.was-validated .form-control:invalid,
.was-validated .form-control:valid {
  border-color: #ced4da !important;
  background-image: none !important;
}

/* Khi focus, viền lúc nào cũng là màu xanh lá (--main) */
.was-validated .form-control:invalid:focus,
.was-validated .form-control:valid:focus,
.form-control:focus {
  border-color: var(--main) !important;
  box-shadow: 0 0 0 0.25rem rgba(0, 176, 154, 0.25) !important;
}
