.training .news-card-img-wrapper {
  width: 100%;
  height: 20rem;
  overflow: hidden;
}

.training img {
  margin-top: unset !important;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.training .card-title,
.scientific-research .card-title {
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  min-height: 8rem;
}

.btn-more {
  padding: 0.5rem 1rem;
  margin-top: 3rem;
  font-size: 1.6rem;
  background-color: var(--main);
  color: var(--white);
  border: 1px solid transparent;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

.btn-more:hover {
  background-color: transparent;
  color: var(--main);
  border: 1px solid var(--main);
}
